[user]
	name = Filipe Miranda
	email = filipe@fmpm.dev

[pull]
	rebase = true

[init]
	defaultBranch = main

[pager]
    diff = delta
    log = delta
    reflog = delta
    show = delta

[delta]
    side-by-side = true
	line-number = true

[interactive]
    diffFilter = delta --color-only